html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid.*/
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pano {
  grid-column: 1/span 2;
  grid-row: 1 / span 2;
  z-index: 1;
}

.logo {
  z-index: 100;
  grid-row: 1;
  grid-column: 1;
}

nav {
  z-index: 50;
  grid-row: 1;
  grid-column: 2;
}

ul {
  text-align: right;
  color: #FFF;
  padding-right: 1rem;
}

a {
    text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
